<div class="container">
<h1>{{data.name}}</h1>
<h2>{{data.address}}</h2>
<p>{{data.phones | spaceData:', '}}</p>
<hr>
<ng-container *ngIf="dataSource.length !== 0; else noItems ">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z6 table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let dataSource"> {{dataSource.name}} </td>
      <mat-footer-cell *matFooterCellDef>
        <span>
          Total Cost:  
        </span>
        <span class="price">
          {{getTotalPrice() | currency}}
        </span>
      </mat-footer-cell>
    </ng-container>
  
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef> Count </th>
      <td mat-cell *matCellDef="let dataSource"> {{dataSource.count}} </td>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let dataSource"> {{dataSource.price}} </td>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>

    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <mat-footer-row class="sticky-footer" *matFooterRowDef="displayedColumns"></mat-footer-row>

  </table>
</ng-container>

<ng-template #noItems>
  <p>No items</p>
</ng-template>

</div>
