<mat-toolbar color="warn">
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="title">KLG invoice generator</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="container">
    <mat-sidenav #drawer mode="side" opened role="navigation">
      <mat-nav-list>
        <a mat-list-item routerLink='/first'>First Page</a>
        <a mat-list-item routerLink='/second'>Second Page</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>